link(rel="stylesheet",type="text/css",href="/stylesheets/game.css")
script
	$(document).ready(function() {
		// initChat(document.getElementById('chatBox'), document.getElementById('messages'), '#{game.id}');
			initChat('chat', '#{game.id}');
	});
h1= game.name

div#chat.chat

p
	a(href="/games") Return to game list.



